doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        each laptop in laptops
            div 
                h4 #{laptop.laptop_no}
                h4 #{laptop.model_name}
                h4 #{laptop.menufacture}
                h4 #{laptop.color}
                h4 #{laptop.inch}
                h4 #{lapto.price} 원
                hr